.app-bar {
  box-sizing: border-box;
  width: 100%;
  z-index: 9990;
  background-color: $primary-color;
  transition: all $standard-time $standard-transition-curve;
}

.app-bar.fixed {
  position: fixed;
}

.pad-top {
  height: 24px;
  background-color: $primary-color-dark;
}

.app-bar-header {
  min-height: 56px;
  background-color: transparent;
  position: relative;
  display: flex;
  align-items: center;

  .header-content {
    box-sizing: border-box;
    padding-left: $app-padding-left;
    width: 100%;
  }

  .header-content.prominent {
    padding-top: 56px;
    height: 72px;
    padding-left: $app-padding-left;
    width: 100%;
  }
}

.app-bar.prominent {
  height: 128px;
}
