$primary-color: #3f51b5 !default;
$primary-color-light: #757de8 !default;
$primary-color-dark: #002984 !default;

$secondary-color: #ab47bc !default;
$secondary-color-light: #df78ef !default;
$secondary-color-dark: #790e8b !default;

$tertiary-color: #03a9f4 !default;
$tertiary-color-light: #67daff !default;
$tertiary-color-dark: #007ac1 !default;

$accent-color: #ffc400 !default;
$accent-color-light: #ffd740 !default;
$accent-color-dark: #ffab00 !default;

$text-color-dark: rgba(#263238, 0.9) !default;
$text-color-light: rgba(#eceff1, 0.9) !default;

$icon-color-dark-active: rgba($text-color-dark, 0.7) !default;
$icon-color-dark-disabled: rgba($text-color-dark, 0.46) !default;

$ripple-color: $text-color-dark !default;

$shadow-color: $text-color-dark !default;
$shadow-color-light: $text-color-light !default;
$border-color: #cfd8dc !default;

$shade-color-dark: rgba($text-color-dark, 0.12);

.primary {
  background-color: $primary-color;
}

.secondary {
  background-color: $secondary-color;
}

.accent {
  accent-color: $accent-color;
}
