@import './dimensions.scss';

.yui-md-grid-col, .yui-md-grid-row {
  box-sizing: border-box;
}

$sm-grid-query: 'only screen and (max-width: 800px)';
$md-grid-query: 'only screen and (min-width: 800px) and (max-width: 1200px)';
$lg-grid-query: 'only screen and (min-width: 1200px)';

//Region: mobile grid
@media #{$sm-grid-query}, #{$md-grid-query}, #{$lg-grid-query} {
  .yui-md-grid-col.col-sm-0, .yui-md-grid-row.row-sm-0{
    flex: 0 auto;
  }
  .col-sm-0, .row-sm-0  {
    transform: scale(0);
    margin: 0px;
  }
  .col-sm-1 { transform: scale(1); width: 100% / 12; }
  .col-sm-2 { transform: scale(1); width: 2 * 100% / 12; }
  .col-sm-3 { transform: scale(1); width: 3 * 100% / 12; }
  .col-sm-4 { transform: scale(1); width: 4 * 100% / 12; }
  .col-sm-5 { transform: scale(1); width: 5 * 100% / 12; }
  .col-sm-6 { transform: scale(1); width: 6 * 100% / 12; }
  .col-sm-7 { transform: scale(1); width: 7 * 100% / 12; }
  .col-sm-8 { transform: scale(1); width: 8 * 100% / 12; }
  .col-sm-9 { transform: scale(1); width: 9 * 100% / 12; }
  .col-sm-10 { transform: scale(1); width: 10 * 100% / 12; }
  .col-sm-11 { transform: scale(1); width: 11 * 100% / 12; }
  .col-sm-12 { transform: scale(1); width: 12 * 100% / 12; }

  .row-sm-1 { transform: scale(1); height: 100% / 12; }
  .row-sm-2 { transform: scale(1); height: 2 * 100% / 12; }
  .row-sm-3 { transform: scale(1); height: 3 * 100% / 12; }
  .row-sm-4 { transform: scale(1); height: 4 * 100% / 12; }
  .row-sm-5 { transform: scale(1); height: 5 * 100% / 12; }
  .row-sm-6 { transform: scale(1); height: 6 * 100% / 12; }
  .row-sm-7 { transform: scale(1); height: 7 * 100% / 12; }
  .row-sm-8 { transform: scale(1); height: 8 * 100% / 12; }
  .row-sm-9 { transform: scale(1); height: 9 * 100% / 12; }
  .row-sm-10 { transform: scale(1); height: 10 * 100% / 12; }
  .row-sm-11 { transform: scale(1); height: 11 * 100% / 12; }
  .row-sm-12 { transform: scale(1); height: 12 * 100% / 12; }
}

@media #{$md-grid-query}, #{$lg-grid-query} {
  .yui-md-grid-col.col-md-0, .yui-md-grid-row.row-md-0{
    flex: 0 auto;
  }
  .col-md-0, .row-md-0  {
    transform: scale(0);
    margin: 0px;
  }
  .col-md-1 { transform: scale(1); width: 100% / 12; }
  .col-md-2 { transform: scale(1); width: 2 * 100% / 12; }
  .col-md-3 { transform: scale(1); width: 3 * 100% / 12; }
  .col-md-4 { transform: scale(1); width: 4 * 100% / 12; }
  .col-md-5 { transform: scale(1); width: 5 * 100% / 12; }
  .col-md-6 { transform: scale(1); width: 6 * 100% / 12; }
  .col-md-7 { transform: scale(1); width: 7 * 100% / 12; }
  .col-md-8 { transform: scale(1); width: 8 * 100% / 12; }
  .col-md-9 { transform: scale(1); width: 9 * 100% / 12; }
  .col-md-10 { transform: scale(1); width: 10 * 100% / 12; }
  .col-md-11 { transform: scale(1); width: 11 * 100% / 12; }
  .col-md-12 { transform: scale(1); width: 12 * 100% / 12; }

  .row-md-1 { transform: scale(1); height: 100% / 12; }
  .row-md-2 { transform: scale(1); height: 2 * 100% / 12; }
  .row-md-3 { transform: scale(1); height: 3 * 100% / 12; }
  .row-md-4 { transform: scale(1); height: 4 * 100% / 12; }
  .row-md-5 { transform: scale(1); height: 5 * 100% / 12; }
  .row-md-6 { transform: scale(1); height: 6 * 100% / 12; }
  .row-md-7 { transform: scale(1); height: 7 * 100% / 12; }
  .row-md-8 { transform: scale(1); height: 8 * 100% / 12; }
  .row-md-9 { transform: scale(1); height: 9 * 100% / 12; }
  .row-md-10 { transform: scale(1); height: 10 * 100% / 12; }
  .row-md-11 { transform: scale(1); height: 11 * 100% / 12; }
  .row-md-12 { transform: scale(1); height: 12 * 100% / 12; }
}

@media #{$lg-grid-query} {
  .yui-md-grid-col.col-lg-0, .yui-md-grid-row.row-lg-0{
    flex: 0 auto;
  }
  .col-lg-0, .row-lg-0  {
    transform: scale(0);
    margin: 0px;
  }
  .col-lg-1 { transform: scale(1); width: 100% / 12; }
  .col-lg-2 { transform: scale(1); width: 2 * 100% / 12; }
  .col-lg-3 { transform: scale(1); width: 3 * 100% / 12; }
  .col-lg-4 { transform: scale(1); width: 4 * 100% / 12; }
  .col-lg-5 { transform: scale(1); width: 5 * 100% / 12; }
  .col-lg-6 { transform: scale(1); width: 6 * 100% / 12; }
  .col-lg-7 { transform: scale(1); width: 7 * 100% / 12; }
  .col-lg-8 { transform: scale(1); width: 8 * 100% / 12; }
  .col-lg-9 { transform: scale(1); width: 9 * 100% / 12; }
  .col-lg-10 { transform: scale(1); width: 10 * 100% / 12; }
  .col-lg-11 { transform: scale(1); width: 11 * 100% / 12; }
  .col-lg-12 { transform: scale(1); width: 12 * 100% / 12; }

  .row-lg-1 { transform: scale(1); height: 100% / 12; }
  .row-lg-2 { transform: scale(1); height: 2 * 100% / 12; }
  .row-lg-3 { transform: scale(1); height: 3 * 100% / 12; }
  .row-lg-4 { transform: scale(1); height: 4 * 100% / 12; }
  .row-lg-5 { transform: scale(1); height: 5 * 100% / 12; }
  .row-lg-6 { transform: scale(1); height: 6 * 100% / 12; }
  .row-lg-7 { transform: scale(1); height: 7 * 100% / 12; }
  .row-lg-8 { transform: scale(1); height: 8 * 100% / 12; }
  .row-lg-9 { transform: scale(1); height: 9 * 100% / 12; }
  .row-lg-10 { transform: scale(1); height: 10 * 100% / 12; }
  .row-lg-11 { transform: scale(1); height: 11 * 100% / 12; }
  .row-lg-12 { transform: scale(1); height: 12 * 100% / 12; }
}
