@import './transitions.scss';
@import './colors.scss';
@import './dimensions.scss';
@import './shadows.scss';
@import './grid.scss';
@import './typography.scss';

@import url('https://fonts.googleapis.com/css?family=Roboto:400,500');

body {
  margin: 0px;
  min-width: $min-width;
  min-height: $min-height;
  color: $text-color-dark;
  font-family: 'Roboto', sans-serif;
}

img {
  display: block;
  align-self: center;
}

.nostyle-container {
  style: none;
}

.has-nav-text {
  text-align: center;
  vertical-align: middle;
  font-size: 14px;
  font-weight: bold;
  text-transform: uppercase;
}

@import '../AppBar/style.scss';
@import '../Button/style.scss';
@import '../Card/style.scss';
@import '../Col/style.scss';
@import '../Content/style.scss';
@import '../Divider/style.scss';
@import '../Drawer/style.scss';
@import '../Icon/style.scss';
@import '../Input/style.scss';
@import '../Menu/style.scss';
@import '../MenuItem/style.scss';
@import '../Overlay/style.scss';
@import '../Row/style.scss';
@import '../Snackbar/style.scss';
@import '../StickyFooter/style.scss';
@import '../Tab/style.scss';
@import '../TabList/style.scss';
@import '../ToolBar/style.scss';
@import '../utils/applyRipple/style.scss';
