h1 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 112px;
  font-weight: 200;
  color: $text-color-dark;
  line-height: 1.1em;
}

h2 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 56px;
  font-weight: normal;
  color: $text-color-dark;
  line-height: 1.1em;
}

h3 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 45px;
  font-weight: normal;
  color: $text-color-dark;
  line-height: 48px;
}

h4 {
  margin-top: 0.2em;
  margin-bottom: 0.2em;
  font-size: 34px;
  font-weight: normal;
  color: $text-color-dark;
  line-height: 40px;
}

small {
  font-size: 12px;
  font-weight: normal;
  color: $text-color-dark;
  line-height: 1.2em;
}

.title {
  margin: 0px;
  font-size: 20px;
  font-weight: medium;
  color: $text-color-dark;
  line-height: 25px;
}

.header {
  margin: 0px;
  font-size: 24px;
  font-weight: normal;
  color: $text-color-dark;
  line-height: 32px;
}

.subheader {
  margin: 0px;
  font-size: 16px;
  @media #{$desktop-query} {
    font-size: 15px;
  }
  font-weight: medium;
  color: $text-color-subheader;
  line-height: 24px;
}

body {
  font-size: 14px;
  @media #{$desktop-query} {
    font-size: 13px;
  }
  line-height: 20px;
}

.centered {
  text-align: center;
}

.justified {
  text-align: justify;
}
