@import 'lib/styles/style.scss';
@import url('https://fonts.googleapis.com/css?family=Roboto:300,400');

.app-root {
  min-width: $drawer-s-width;
  transition-duration: $s-exit-time;
}

.c1 {
  background-color: $primary-color;
}
.c2 {
  background-color: $accent-color;
  margin: 50px;
}
