$card-action-padding: 8px !default;

.card-container {
  @extend .z-depth-1;
  border-radius: 2px;
  margin: 8px;
}

.card-content, .card-content.card-container {
  overflow: hidden;
  img {
    display:block;
    margin: 0px;
    padding: 0px;
  }
  .card-text-area {
    @extend .z-depth-1;
    box-sizing: border-box;
    display: block;
    > * {
      @include vertical-margin(16px);
      @include side-margin(16px);
    }
    > *:first-child {
      margin-top: 0px;
      padding-top: 24px;
    }
    > *:last-child {
      margin-bottom: 0px;
      padding-bottom: 24px;
    }
    > *:only-child {
      padding: 16px;
    }
    .header {
      @include vertical-margin(12px);
    }
    .header:first-child {
      margin-top: 0px;
    }
    .header:last-child {
      margin-bottom: 0px;
    }
    .header:only-child {
      @include vertical-margin(0px);
    }
    .subheader {
      @include vertical-margin(12px);
    }
    .subheader:first-child {
      margin-top: 0px;
    }
    .subheader:last-child {
      margin-bottom: 0px;
    }
    .header:only-child {
      @include vertical-margin(0px);
    }
  }
  .card-action-area {
    margin: 8px;
  }
}
