div.content {
  position: relative;
  display: flex;
  flex-direction: column;
  box-sizing: border-box;
  min-height: 100vh;
  min-width: 100%;
  width: 100%;
  max-width: 100%;
  top: 0px;
  left: 0px;
  overflow: hidden;
}

.content.s {
  transition: all $s-transition-time $standard-transition-curve;
}
.content.m, .content.l {
  transition: all $m-transition-time $standard-transition-curve;
}

.content-container {
  padding: $content-padding;
  flex: 1 0 auto;
}
.content-container.no-padding {
  padding: 0px;
}
