.button {
  * {
    cursor: default;
    border-radius: inherit;
    text-align: center;
    vertical-align: middle;
    padding: 0px;
  }
}

*.button {
  @extend .has-nav-text;

  @include vertical-padding($content-padding);
  @include side-padding(20px);
  position: relative;
  border: none;
  display: inline-block;
  min-height: 36px - 2 * $content-padding;
  min-width: 88px;
  background-color: transparent;
  box-sizing: border-box;
  margin: 8px;
  user-select: none;

  color: $text-color-dark;
  text-transform: capitalize;

  transition: all $standard-time $standard-transition-curve;
  cursor: default;
}

*.button.rounded {
  border-radius: 2px;
}

.button:focus {
  outline: 0px;
}

.button.raised {
  @extend .z-depth-1;
}

.button.disabled {
  pointer-events: none;
  opacity: 0.26;
}

.button.circle {
  border-radius: 50%;
  min-width: 0px;
}

.button.icon {
  padding: 8px;
  height: 40px;
  width: 40px;
  * {
    vertical-align: unset;
  }
}

.button.icon.large {
  transform: none;
  padding: 16px;
  height: 56px;
  width: 56px;
}
