.overlay{
  opacity: 1;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgba($shadow-color, 0.6);
  z-index: 10000;
  > * {
    z-index: 10000;
  }
  transition: all 1.5 * $standard-time $standard-transition-curve;
  pointer-events: all;
}

.overlay.inactive {
  opacity: 0;
  background-color: rgba(0, 0, 0, 0);
  left: 0px;
  transition: all 1.5 * $standard-time $standard-transition-curve;
  pointer-events: none;
}

.overlay-children {
  position: absolute;
  z-index: 10001;
  transition: all 1.5 * $standard-time $standard-transition-curve;
}

.overlay-container {
  pointer-events: none;
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  z-index: 9991;
}
.overlay-container.inactive.fade-children {
  .overlay-children {
    position: absolute;
    z-index: 10001;
    opacity: 0;
    pointer-events: none;
    transition: all 1.5 * $standard-time $standard-transition-curve;
  }
}
