.overlay{
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  max-width: 100%;
  background-color: rgba($shadow-color, 0.6);
  z-index: 10000;
  > * {
    z-index: 10000;
  }
  transition: background-color 1.5 * $standard-time $standard-transition-curve;
  pointer-events: all;
}

.overlay.inactive {
  background-color: rgba(0, 0, 0, 0);
  left: 0px;
  transition: background-color 1.5 * $standard-time $standard-transition-curve;
  pointer-events: none;
}

.overlay-children {
  position: absolute;
  z-index: 10001;
}

.overlay-container {
  position: absolute;
  top: 0px;
  left: 0px;
  height: 100vh;
  width: 100vw;
  pointer-events: none;
}
