
.text-input-label {
  color: $text-color-subheader;
  font-size: inherit;
}

input[type=text] {
  transition: all $standard-time $standard-transition-curve;
  padding-top: 8px;
  padding-bottom: 8px;
  outline: none;
  border-width: 0px;
  width: 100%;
  font-size: inherit;
  height: inherit;
  border-bottom-width: 2px;
  border-bottom-color: rgba($text-color-subheader, 0.36);
}

input[type=text]:hover {
  transition: all $standard-time $standard-transition-curve;
  outline: none;
  border-bottom-color: rgba($text-color-subheader, 0.65);
}

input[type=text]:focus {
  transition: all $standard-time $standard-transition-curve;
  outline: none;
  border-bottom-color: $accent-color;
}

label.text-input-label {
  font-size: 12px;
  transition: all $standard-time $standard-transition-curve;
}
